.HomeScreen {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
}

.title{
  font-size: 72px;
  margin-top: 20px;
  font-weight: bolder;
}

.button{
  padding: 20px;
}

.lobbyButton:hover {
  background: linear-gradient(90deg, #38e6c5 0%, #4f8cff 100%);
  transform: translateY(-2px) scale(1.03);
}

.lobbyKeyInput {
  width: 50vw;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 5vh;
  font-size: larger;
}